<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="renderer" content="webkit">
	<title>瓷爱天使守护团</title>
  
  <link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Css/Index/main.css" rel="stylesheet">	
  <link href="__PUBLIC__/Css/footer.css" rel="stylesheet">
  <link href="__PUBLIC__/Css/base.css" rel="stylesheet">
</head>

<body>

<include file="./Public/Html/head.html" />



<div class="jumbotron jumLoc">
  <div class="container">
  <h1>瓷爱</h1>
  <p>致力于帮扶以瓷娃娃为代表的肢残青少年，</p>
  <p>打造教育交流平台，让每个孩子成为家庭的骄傲</p>
  </div>
</div>


<div class="maincon">
  <div class="container">
        <header class="des">
        <div class="row">
            

            <div class="item col-md-4">
                <a href="{:U('Home/Star/index')}">
                    <p class="two"></p>
                    <p >明显论坛为您提供了心理疏导老师的介绍和联系方式，您可以通过该老师进行心理交流~</p>
                </a>
            </div>
            <div class="item col-md-4">
                <a href="{:U('Home/Teach/smallcourse')}">
                    <p class="three"></p>
                    <p >课件精选 为您提供小学和初中的课件资料，您可以随意下载用来学习~</p>
                </a>
            </div>

            <div class="item col-md-4">
                  <a href="{:U('Home/Teach/service')}">
                      <p class="four"></p>
                      <p >上门服务，为了方便同学们面对面交流，我们在该平台打造了上门服务，如果您需要该服务，请到该模块中填写资料</p>
                  </a>
              </div>
        </div>
        <div class="row">
              
              <div class="item col-md-4">
                  <a href="{:U('Home/Camp/index')}">
                      <p class="five"></p>
                      <p >对往期活动和预期活动进行了展示</p>
                  </a>
              </div>
              <div class="item col-md-4">
                  <a href="{:U('Home/Forum/index')}">
                      <p class="six"></p>
                      <p >您可以尽情在论坛里交流~</p>
                  </a>
              </div>

              <div class="item col-md-4">
            
                <a href="{:U('Home/Shop/index')}">
                    <p class="one"></p>
                    <p>瓷爱商城为您提供一系列的商品以及募捐信息，您可以在这里查看购买方式</p>
                </a>
            
            </div>
          </div>

          <div class="otherItem">
          </div>

    </header>   
  </div>
</div>


  <include file="./Public/Html/footer.html" />



	<script src="__PUBLIC__/Js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Js/bstraplang/zh_CN.js"></script>
</body>
</html>
