<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="renderer" content="webkit">
	<title>瓷爱天使守护团</title>
  
  <link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Css/Index/main.css" rel="stylesheet">	
  <link href="__PUBLIC__/Css/footer.css" rel="stylesheet">
  <link href="__PUBLIC__/Css/base.css" rel="stylesheet">
  <link href="__PUBLIC__/Css/bootstrapValidator.css" rel="stylesheet">
</head>

<body>



<include file="./Public/Html/managerHead.html" />


<div class="container" style="height:700px">
			<form class="form-horizontal addcourse_form" id="addCourseForm" role="form" action="{:U('Home/Manager/subCourse')}">
			  
				<div class="form-group">
					<p><b>学历</b></p>
					<select  class="form-control" id="selectAge" name="edulevel">   
				        <option value="小学">小学</option>   
				        <option value="初中">初中</option>         
				     </select>   
				</div>
				<div class="form-group">
					<p><b>年级</b></p>
					<select  class="form-control" id="selectAge" name="grade">   
				        <option value="一年级">一年级</option>   
				        <option value="二年级">二年级</option>   
				        <option value="三年级">三年级</option>   
				        <option value="四年级">四年级</option>   
				        <option value="五年级">五年级</option>   
				        <option value="六年级">六年级</option>
				        <option value="七年级">七年级</option>
				        <option value="八年级">八年级</option>
				        <option value="九年级">九年级</option>

				     </select>   
				</div>
				<div class="form-group">	
				    <p><b>科目</b></p>
				    <select class="form-control" id="selectAge" name="subject">   
				        <option value="语文">语文</option>   
				        <option value="数学">数学</option>   
				        <option value="英语">英语</option>       
				     </select>  
				</div>

				<div class="form-group">	
				    <p><b>课本名字</b></p>
				    <input type="text" class="form-control password" placeholder="请输入名字" name="bookname" />
				</div>
				<div class="form-group">	
				    <p><b>链接</b></p>
				    <input type="text" class="form-control password" placeholder="请输入链接" name="booklink" />
				</div>

				
				<div class="form-group">
			    	<button type="submit" class="btn btn-warning" style="width:100%;margin-top: 10px">上传</button>
			    </div>
			</form>
</div>

<include file="./Public/Html/footer.html" />



	<script src="__PUBLIC__/Js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Js/bstraplang/zh_CN.js"></script>
	<script src="__PUBLIC__/Js/bootstrapValidator.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	      $('#addCourseForm')
	        .bootstrapValidator({
	        	live:'disabled', 
	            message: 'message',
	            feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	            fields: {
	                bookname: {
	                    message: 'usernamemessage',
	                    validators: {
	                        notEmpty: {
	                            message: '书名不能为空'
	                        },
	                        stringLength: {
	                            max: 30,
	                            message: '最长16个字'
	                        }
	                    }
	                },
	                booklink: {

	                    validators: {
	                        notEmpty: {
	                            message: '没链接你让我去哪下去？！'
	                        }
	                    }
	                }
	            }
	        })
	        .on('success.form.bv', function(e) {
                    // Prevent form submission
                    e.preventDefault();

                    // Get the form instance
                    var $form = $(e.target);
                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');
                    // Use Ajax to submit form data

                    $.post($form.attr('action'), $form.serialize(), function(result) {
                        alert(result);
                    });
            });

	    });
	</script>
</body>
</html>
