<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="renderer" content="webkit">
	<title>瓷爱天使守护团</title>
  
  <link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Css/Star/index.css" rel="stylesheet">	
  <link href="__PUBLIC__/Css/footer.css" rel="stylesheet">
  <link href="__PUBLIC__/Css/base.css" rel="stylesheet">
</head>

<body>

<include file="./Public/Html/head.html" />

    <div class="container">
        <div class="des">
            <volist name="list" id="vo" empty="暂时没有数据" >
                <div class="info row">
                    <img class="img col-md-4" src="__PUBLIC__/starimgs/{$vo.savename}"/>
                    <div class="right col-md-8">
                        <span style="background-color: #E81D62;padding:10px;color:white;margin-left: -15px;font-size: 18px;float:left">人物介绍</span>
                        <p class="name" style="clear: both"><b>{$vo.name}</b></p>
                        <p class="desc">{$vo.des}</p>
                    </div>
                </div>
                <hr>   
            </volist>
            <div style="text-align: center;">{$page}</div>
        </div>
    </div>

    <include file="./Public/Html/footer.html" />



	<script src="__PUBLIC__/Js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Js/bstraplang/zh_CN.js"></script>
</body>
</html>
